.login-container{
    display: flex;
}

.form-logo{
    position: static;

    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 18px;
}

.login-container-left{
    background-color: #2F2E41;
    color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container-rigth{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container-rigth img{
    width: 70%;
}

#login-section {
    padding: 20px 0;
  }
  
  .gpcr-login-form-container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }
  
  .gpcr-login-form-buttons {
    width: 100%;
  }
  
  @media (min-width: 576px) {
    #login-section {
      padding: 40px 0;
    }
  }

  @media (max-width: 576px) {

    
    .login-container{
        display: contents;
    }
    
  }